html
	head
		title Signup
	body
			form(action = "https://express-tutorial3.glitch.me/signup" method = "POST")
				input(name = "id" type = "text" required placeholder = "User ID")
				input(name = "password" type = "password" required placeholder = "Password")
				button(type = "submit") Sign me up!
			if(message)
				h4 #{message}
				a(href='https://express-tutorial3.glitch.me/login') Login
